<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet", href="css/main.css")
	body
		.bg-stage
			.stat
				.monster
					.health
				.round
				.player
					.health
			.boxing-ring
				.monster-figure#monster
					.number
				.player-figure#player
					.number
	script(src="libs/jquery/jquery.min.js")
	script(src="js/main.js")


	